/* COlor Palette
#EFF1F3 - White
#223843 - Indigo Blue
#A7CDBD - Turquoise Green
#BBE1C3 - Seafoam Green
#424B54 - Space Gray
*/

@font-face{
    font-family: 'Trueno Semi Bold';
    src: url(../fonts/TruenoSBd_3.otf);
}
@font-face{
    font-family: 'Trueno Ultra Black';
    src: url(../fonts/TruenoUltBlk_0.otf);
    }
@font-face{
    font-family: 'Trueno Ultra Light';
    src: url(../fonts/TruenoUltLt_3.otf);
}
@font-face{
        font-family: 'Trueno Light';
    src: url(../fonts/TruenoLt_4.otf);
}


/*Global Styles
--------------------------*/
body{
    margin:0;
    background: #A7CDBD;
    
}
a{
    color:#223843;    
}
a:hover {
    text-decoration: none;
}

p {
    font-family: 'Trueno Ultra Light';
    color: #424B54;
    padding: 10px;
    margin: 0px;
}

h2{
    font-family: 'Trueno Ultra Black';
    color: #424B54;
    margin: 0px;
}

h3{
    font-family: 'Trueno Light';
    color: #424B54;
}

h4{
    font-family: 'Trueno Light';
    color: #424B54;
}

ul{
    font-family: 'Trueno Light';
    color: #424B54;    
}

.content-wrap{
    max-width: 950px;
    margin: 0 auto;
    padding: 50px;
    overflow: auto;
}

.loading-page{
    max-width: 950px;
    max-height: screen.height;
    margin: 0 auto;
    padding: 50px;
    overflow: auto;
}

.arrow-down{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.arrow-down:: after{
    content:"";
    width: 40px;
    height: 40px;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-right: 4px solid #fff;
    border-bottom: 4px solid #fff;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-animation: 3s arrow infinite ease;
    animation: 3s arrow infinite ease;
    
}

@-webkit-keyframes arrow{
    0%, 100%{
        top: 50px;
    }
    50%{
        top: 80px;
    }
}

@keyframes arrow{
    0%, 100%{
        top: 50px;
    }
    50%{
        top: 80px;
    }
}
/* Navigation
---------------------------*/
nav{
    text-align: center;
    background: #A7CDBD;
    position: fixed;
    top: 0;
    width: 100%;
    
}

nav a{
    display: inline-block;
    padding: 15px 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Trueno Ultra Black';
    color: #EFF1F3;
    
}

nav a:hover{
    color: #000;
    opacity: 0.3;
}

.menu hover{
    color: #BBE1C3;
}
/* Header and Footer Styles
--------------------------*/

header{
    font-family: 'Trueno Semi Bold';
    margin: 0 auto;
    text-align: center;
}
header h1{
    font-family: 'Trueno Semi Bold';
    color: #EFF1F3;
    margin: 0;
        overflow: hidden;
        text-align: center;
}
header h2{
    font-family: 'Trueno Semi Bold';
    color: #EFF1F3;
    text-align: center;
        overflow: hidden;
        text-align: center;
}

header p{
    color: #EFF1F3; 
    width: 60%;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
}

footer{
    background: #BBE1C3;
/*    background: linear-gradient(#EFF1F3, #BBE1C3);*/
    color: #EFF1F3;
    text-align: center;
    }
footer h2{
    font-family: 'Trueno Semi Bold';
    color: #EFF1F3;
    padding-bottom: 10px;
}

footer a{
    font-family: 'Trueno Light';
    color: #EFF1F3;
    padding: 10px;
}

footer p{
    padding: 10px;
}

/* Work Experience Styles
--------------------------*/
.work, .education{
    background: #EFF1F3;
        
    font-family: 'Trueno Light';
    
}

h3 ~ p{
    margin: 0;
    padding: 0;
}

h4{
    padding: 0px;
    margin: 0px;
}

.education h3{
    padding-top: 15px;
    padding-bottom: 0px;
}

.education h3:first-of-type{
    margin-top: 0;
}

.column h3{
    padding-top: 25px;
}
.column-1 h3:first-of-type{
    padding-top: 0px;
}


/* Media queries
------------------------*/
@media (max-width: 591px){
        .profile-img{
            display: block;
            margin-left: auto;
            margin-right: auto;
            width:200px;
            border-radius: 50%;
            margin-top: 70px;
    }
}
@media (max-width: 791px){
.profile-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:200px;
    border-radius: 50%;
   
}
}

@media (min-width: 792px){
        .profile-img{
            width: 200px;
            border-radius: 50%;
            float: left;
            margin-right: 50px;
}
}

@media (max-width:792px){
    
header p{
    color: #EFF1F3; 
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
}
}

/* scripts*/
html {
  scroll-behavior: smooth;
}